<div>
  <table class="formulario">
      <tbody>
          <tr>
              <td>Modelo</td>
              <td><input type="text" [(ngModel)]="veiculo.modelo" placeholder="Informe o Modelo"/></td>
              <td>Marca</td>
              <td><input type="text" [(ngModel)]="veiculo.marca" placeholder="Informe a Marca"/></td>
          </tr>
          <tr>
              <td>Cor</td>
              <td><input type="text" [(ngModel)]="veiculo.cor" placeholder="Informe a cor"/></td>
              <td>Ano de Fabricação</td>
              <td><input type="text"  [(ngModel)]="veiculo.anoDeFabricacao" placeholder="Informe o ano de Fabricação"></td>
          </tr>
          <tr>
              <td>Placa</td>
              <td><input type="text" [(ngModel)]="veiculo.placa" placeholder="Informe a placa"/></td>
              <td>Reserva</td>
              <td>
                  <button (click)="adicionarVeiculo()" *ngIf="veiculo.id == null">Salvar</button>
                  <button (click)="limpar()" *ngIf="veiculo.id != null">Cancelar</button>
                  <button (click)="efetuarAlteracaoVeiculo()" *ngIf="veiculo.id != null">Alterar</button>
              </td>
          </tr>
      </tbody>
  </table>
</div>
<table>
  <thead>
      <tr>
          <th>
              Modelo
          </th>
          <th>
              Marca
          </th>
          <th>
              Cor
          </th>
          <th>
              Ano de Fabricação
          </th>
          <th>
              Placa
          </th>
          <th>
            Reserva
          </th>
          <th>
              ação
          </th>
      </tr>
  </thead>
  <tbody>
      <tr *ngFor="let veiculo of veiculos; index as i">
        <td>{{ veiculo.modelo }}</td>
        <td>{{ veiculo.marca }}</td>
        <td>{{ veiculo.cor }}</td>
        <td>{{ veiculo.anoDeFabricacao }}</td>
        <td>{{ veiculo.placa }}</td>
        <td>{{ veiculo.reserva ? 'Reservado' : 'Disponível' }}</td>
        <td>
          <button (click)="alterarVeiculo(veiculo)">A</button>
          <button (click)="removerVeiculo(veiculo.id)">X</button>
        </td>
      </tr>
  </tbody>
</table>
